.container-job {
    padding: 20px 0;
    .head-job,
    .list-job {
        border: 1px solid #A8E4FC;
        line-height: 30px;
        border-radius: 5px;
    }
    .head-job {
        justify-content: space-between;
        display: flex;
        padding: 10px 20px;
    }
    .list-job {
        transition: 0.5s;
        img {
            width: 100%;
            height: auto;
            // padding-left: 20px;
            // padding-right: 20px;
        }
        .info-job {
            border-left: 1px solid #A8E4FC;
            .fa-heart {
                cursor: pointer;
                color: red;
            }
        }
        &:hover {
            transform: scale(1.02);
            background-color: rgba(6, 171, 155, 0.65);
            z-index: 2;
            box-shadow: 1px 1px 1px #A8E4FC;
        }
    }
}