.container-search {
    position: absolute;
    top: 35%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    form {
        width: 60%;
        .header-upload {
            font-size: 35px;
            color: #ffffff;
        }
        .content-search {
            background-color: transparent;
            border-radius: 5px;
            border: 14px solid rgba(0, 0, 0, 0.35);
            align-items: center;
            display: flex;
        }
        .custom-file {
            height: 45px;
        }
    }
    .custom-file-input {
        ~.custom-file-label {
            height: 45px;
            align-items: center;
            display: flex;
            &::after {
                height: 43px;
                align-items: center;
                display: flex;
                content: "Chọn tập tin...";
                background-color: #00c851;
                border: 1px solid #00c851;
            }
        }
    }
    .content-info-cv {
        a {
            border-radius: 50px;
            color: #fff;
            padding: 2px 15px;
            font-size: 15px;
            background: rgb(255, 81, 78);
            border-width: initial;
            border-style: initial;
            border-color: transparent;
            border-image: initial;
        }
    }
}

.custom-file-control.selected:lang(en)::after {
    content: "" !important;
}


/* FF, IE7+, chrome (except button) */

input[type=file],
input[type=file]::-webkit-file-upload-button {
    /* chromes and blink button */
    cursor: pointer;
}

@media only screen and (min-width: 481px) and (max-width: 959px) {
     ::ng-deep .navbar {
        background-color: #1C2331;
    }
    .container-search {
        form {
            .header-upload {
                font-size: 20px;
            }
            .content-search {
                border: 8px solid rgba(0, 0, 0, 0.35);
            }
            .custom-file {
                height: 32px;
            }
        }
        .custom-file-input {
            ~.custom-file-label {
                height: 32px;
                &::after {
                    height: 31px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
     ::ng-deep .navbar {
        background-color: #1C2331;
    }
     ::ng-deep .carousel img {
        height: 50vh;
    }
    .container-search {
        top: 40%;
        form {
            width: 80%;
            .header-upload {
                font-size: 15px;
            }
            .content-search {
                border: 6px solid rgba(0, 0, 0, 0.35);
            }
            .custom-file {
                height: 32px;
            }
        }
        .custom-file-input {
            ~.custom-file-label {
                height: 32px;
                &::after {
                    content: '...';
                    height: 31px;
                }
            }
        }
    }
    .content-info-cv {
        font-size: 13px;
        a {
            border: 1px solid #fff;
            border-radius: 50px;
            color: #fff;
            font-weight: 700;
            padding: 1px 6px;
            font-size: 13px;
        }
    }
    .carousel-inner .card {
        width: 8rem;
        .card-img-top {
            width: 100px;
            height: 100px;
        }
        .card-title {
            font-size: 13px;
        }
        .rating {
            font-size: 16px;
        }
    }
}