<footer class="page-footer mdb-color darken-3 text-center text-left pt-5">

    <!--Footer Links-->
    <div class="container mb-3">

        <!--First row -->
        <div class="row">

            <!--First column-->
            <div class="col-md-4 mt-1 mb-1 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.3s;">
                <!--About-->
                <h5 class="title mb-4 font-weight-bold text-uppercase">Thông tin về chúng tôi</h5>

                <p>I2ICORP là một công ty ứng dụng công nghệ lãnh vực tài chính / ngân hàng.</p>

                <p>Với đội ngũ chuyên gia nhiều kinh nghiệm, sáng tạo, năng động , nhiệt huyết và luôn ấy khách hàng làm trung tâm, chúng tôi tin rằng các sản phẩm, và giải pháp mà chúng tôi cung cấp sẽ đem lại sự hài lòng cho bạn.</p>
                <!--/About -->

                <div class="footer-socials mt-2">

                    <!--Facebook-->
                    <a type="button" class="btn-floating  btn-danger-2 waves-effect waves-light"><i
                            class="fab fa-facebook-f"></i></a>
                    <!--Dribbble-->
                    <a type="button" class="btn-floating  btn-danger-2 waves-effect waves-light"><i
                            class="fab fa-dribbble"></i></a>
                    <!--Twitter-->
                    <a type="button" class="btn-floating  btn-danger-2 waves-effect waves-light"><i
                            class="fab fa-twitter"></i></a>
                    <!--Google +-->
                    <a type="button" class="btn-floating  btn-danger-2 waves-effect waves-light"><i
                            class="fab fa-google-plus-g"></i></a>

                </div>
            </div>
            <!--/First column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Second column-->
            <div class="col-lg-3 ml-lg-auto col-md-4 mt-1 mb-1 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.3s;">
                <!--Search-->
                <h5 class="text-uppercase mb-4 font-weight-bold">Địa chỉ</h5>

                <ul class="footer-search list-unstyled">
                    <li>
                        <form class="search-form" role="search">
                            <div class="md-form">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </li>
                </ul>

                <!--Info-->
                <p><i class="fas fa-home pr-1"></i> 284/3/4 11 ward, Phu Nhuan district, Ho Chi Minh City
                </p>
                <p><i class="fas fa-envelope pr-1"></i> contact@i2icorp.net</p>
                <p><i class="fas fa-phone pr-1"></i> +84 903-798-288</p>
                <!-- <p><i class="fas fa-print pr-1"></i> + 01 234 567 89</p> -->

            </div>
            <!--/Second column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Third column-->
            <div class="col-xl-3 ml-auto col-lg-4 mt-2 mb-1 col-md-4 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.3s;">

                <!-- Title -->
                <h5 class="text-uppercase mb-4"><strong>Giờ mở cửa</strong></h5>

                <!-- Opening hours table -->
                <table class="table footer-table text-center text-white">
                    <tbody>
                        <tr>
                            <td>Mon - Thu:</td>
                            <td>8am - 9pm</td>
                        </tr>
                        <tr>
                            <td>Fri - Sat:</td>
                            <td>8am - 1am</td>
                        </tr>
                        <tr>
                            <td>Sunday:</td>
                            <td>9am - 10pm</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <!--/Third column-->

        </div>
        <!--/First row-->

    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
            © 2020 Copyright: <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> I2ICORP.NET
            </a>
        </div>
    </div>
    <!--/Copyright-->

</footer>