/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */

// ::ng-deep .page-footer,
// ::ng-deep .top-nav-collapse {
//     background-color: #1C2331 !important;
// }
::ng-deep app-search-job.search-job .container-search {
    position: absolute;
    top: 35%;
    form {
        width: 80%;
        background-color: rgba(20, 32, 25, 0.65);
    }
}

.carousel {
    width: 100%;
}

.slide-box {
    display: flex;
    justify-content: space-between;
}

.carousel-control-prev,
.carousel-control-next {
    width: unset;
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: #2d96cd;
        height: 60px !important;
        outline: #2d96cd;
        background-size: 100%, 100%;
        border: 1px solid #2d96cd;
    }
}

::ng-deep .header-carousel .carousel-control-prev,
::ng-deep .header-carousel .carousel-control-next {
    display: none;
}

.top-city-trending {
    visibility: visible;
    animation-name: fadeIn;
    animation-delay: 0.4s;
    width: 50%;
    .item {
        position: relative;
        display: inline-block;
        .notify-badge {
            position: absolute;
            right: 0px;
            top: 1px;
            z-index: 1;
            img {
                width: 50px;
                height: 80px;
            }
        }
    }
}

.compact-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

// .rating label:hover~label,
// .rating input:focus~label,
// .rating label:hover,
// .rating a:hover,
// .rating a:hover~a,
// .rating a:focus,
// .rating a:focus~a {
//     color: orange;
//     cursor: pointer;
// }
.carousel-inner .card {
    border: unset;
    border-radius: unset;
    width: 14rem;
    .card-img-top {
        border-radius: 50%;
        width: 160px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .card-title {
        font-weight: bold;
    }
    .card-text {
        font-size: 13px;
    }
    .rating {
        font-size: 30px;
        input {
            float: right;
            opacity: 0;
            position: absolute;
        }
        a,
        label {
            float: none;
            cursor: default;
            text-decoration: none;
            -webkit-transition: color .4s;
            -moz-transition: color .4s;
            -o-transition: color .4s;
            transition: color .4s;
            &.star {
                color: orange;
            }
            &:not(.star) {
                color: #aaa;
            }
        }
    }
}

// @media only screen and (min-width: 481px) and (max-width: 959px) {
//     .container-search {
//         form {
//         }
//     }
// }
@media only screen and (max-width: 768px) {
     ::ng-deep .header-carousel {
        -ms-touch-action: pan-y !important;
        touch-action: pan-y !important;
        .carousel img {
            height: 485px;
        }
    }
     ::ng-deep app-search-job.search-job .container-search {
        top: 70px;
        form {
            width: 80%;
        }
    }
    .carousel-inner .card {
        width: 8rem;
        .card-img-top {
            width: 100px;
            height: 100px;
        }
        .card-title {
            font-size: 13px;
        }
        .rating {
            font-size: 16px;
        }
    }
}