<!-- Navbar -->
<app-header></app-header>
<mdb-carousel [isControls]="isDesktopDevice" class="carousel slide carousel-fade header-carousel" [animation]="'fade'">
    <div>
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption" *ngIf="isDesktopDevice">
                <h3 class="h3-responsive">Light mask</h3>
                <p>First text</p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption" *ngIf="isDesktopDevice">
                <h3 class="h3-responsive">Strong mask</h3>
                <p>Secondary text</p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption" *ngIf="isDesktopDevice">
                <h3 class="h3-responsive">Slight mask</h3>
                <p>Third text</p>
            </div>
        </mdb-carousel-item>
    </div>
    <app-search-job></app-search-job>
</mdb-carousel>
<main>
    <div class="container">

        <!--Section: Blog v.2-->
        <section class="extra-margins text-center">

            <h3 class="text-center mb-5 my-5 font-weight-bold"> Các công ty hàng đầu</h3>

            <!--Grid row-->
            <div class="row pb-3">

                <!--Grid column-->
                <div *ngFor="let item of listCompany" class="col-lg-3 col-md-6 mb-4 wow fadeIn pl-2 pr-2 top-city-trending" data-wow-delay="0.4s">

                    <!--Card Light-->
                    <div class="card">
                        <!--Card image-->
                        <div class="view overlay item">
                            <span class="notify-badge">
                                <img [src]="'assets/images/medal_' + item.level + '.png'" alt="badge icon top city">
                            </span>
                            <img [src]="'data:image/png;base64,' + item.image" class="card-img-top" alt="image info city">
                            <a>
                                <div class="mask rgba-white-slight waves-effect waves-light"></div>
                            </a>
                        </div>
                        <!--/.Card image-->
                        <!--Card content-->
                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title darkgrey-text">
                                <strong>{{item.companyName}}</strong>
                            </h4>
                            <hr>
                            <!--Text-->
                            <p class="font-small compact-text">{{item.descriptions}}
                            </p>
                            <a href="#" class="black-text d-flex flex-row-reverse">
                                <p class="waves-effect p-2 font-small blue-text mb-0">Xem chi tiết
                                    <i class="fas fa-long-arrow-alt-right ml-2" aria-hidden="true"></i>
                                </p>
                            </a>
                        </div>
                        <!--/.Card content-->
                    </div>
                    <!--/.Card Light-->

                </div>
                <!--Grid column-->
            </div>
            <!--First row-->

        </section>
        <!--Section: Blog v.2-->

    </div>
    <hr>
    <div class="container">
        <section class="extra-margins text-center">

            <h3 class="text-center mb-5 font-weight-bold"> Ứng viên nói về chúng tôi</h3>
            <div class="row">
                <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to="0" class="light-blue darken-4 active"></li>
                        <li data-target="#carousel" data-slide-to="1" class="light-blue darken-4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div *ngFor="let ratingItem of listRating; let i = index;" [ngClass]="i === 0 ? 'active' : ''" class="carousel-item">
                            <div>
                                <div class="slide-box">
                                    <div *ngFor="let item of ratingItem" class="card">
                                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <span class="card-title">{{item.firstName + ' ' + item.lastName}}</span>
                                            <span class="card-text compact-text">{{item.contents}}</span>
                                            <div class="rating">
                                                <a [ngClass]="item.rating >= 1 ? 'star' : ''" title="Give 1 stars">★</a>
                                                <a [ngClass]="item.rating >= 2 ? 'star' : ''" title="Give 2 stars">★</a>
                                                <a [ngClass]="item.rating >= 3 ? 'star' : ''" title="Give 3 stars">★</a>
                                                <a [ngClass]="item.rating >= 4 ? 'star' : ''" title="Give 4 stars">★</a>
                                                <a [ngClass]="item.rating >= 5 ? 'star' : ''" title="Give 5 stars">★</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a *ngIf="deviceService.isDesktop()" class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a *ngIf="deviceService.isDesktop()" class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </section>
    </div>
</main>
<app-footer></app-footer>